$primary: #12808A;
$secondary: #43C89A;
body{
    //background: rgb(96, 138, 14);
    //padding-bottom: 100px;
    overflow-x: hidden;

    .navbar {
        background: white;
        padding-top: 20px !important;
        
        .logo{
            height: 50px;
        }
        .collapse{
            float: right;
        }
    
         ul li a {
            color: $primary;
            font-size: 20px;
            font-weight: 600;
            margin: 0 20px;
            padding: 0 10px 10px;
    
             &:hover {
               border-bottom: $secondary 3px  solid;
               margin-bottom: -3px;
               padding-bottom: 2px;
            }
        }
    }
    
    #showcase {
        //margin-bottom: 80px;
        //background: $secondary;
        h1 {
            font-size: 50px;
            font-weight: 700;
        }
        p {
            font-size: 20px;
        }
        .input-group {

            input {
                border: none;
                background: #EFEFEF;
                padding-left: 20px;
                max-width: 300px;
            }
            
            button {
                background: $primary;
                color: white;
                padding: 4px 20px;
            }
        }
        
        .store {
           
            a {
                margin: 10px !important;
            }
        }
       .btns
       {
           //padding-top: 20px;
           //margin-top: 100px;
        .app_img{
            margin-top: 40px;
            padding-top: 30px;
        } 
    
       }
    }
    
    #info {
        background: $secondary;
        color: white;
        //margin-top: -100px;
        padding-bottom: 100px;
    
        .top-info{
            z-index: -1;
            position: relative;
            top: -185px;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-color: transparent transparent transparent $secondary;
            border-style: solid;
            border-width: 185px 0 0 99vw;
            overflow: hidden;
        }
        .container {
            margin-top: -120px;
            .step-container{
                padding: 70px 0px;
                .step-item{
                    padding: 1rem;
                    //text-align: center;
                    
    
                    .img-fluid {
                        margin-top: 10px;
                        height: 150px;
                    }
                }
            }
            .next-icon{
                height: 30px;
                float: right;
            }
    
            .info-btn {
                background: white;
                border: none;
                width: 200px;
                height: auto;
                color: $secondary;
                font-size: 18px;
                border-radius: 5px;
                box-shadow: 0 4px 4px rgba(0,0,0,.1);
                padding: 5px;
                text-decoration: none;
            }
        }
        
    }
    
    #listing {
        background: #EFEFEF;
        padding: 20px;
        .container {
            h1 {
                font-size: 36px;
                font-weight: 700;
                margin: 40px 0;
                color: $secondary;
                text-align: center;
            }
    
            .card {
                min-height: 120px;
                &:hover{
                   box-shadow:      0.5px 2.8px 2.2px rgba(0, 0, 0, 0.034),
                                    2px 6.7px 5.3px rgba(0, 0, 0, 0.048);         
                }
    
                .card-img {
                    height: 70px;
                    width: 70px;
                }
    
                .card-body{
                   padding: 0;
                    h5{
                        max-height: 24px;
                    }
                }
                
            }
        }
    }
    
    #connect {
        background: $secondary;
        padding-top: 42px;
        .c_text {
            h1 {
                font-size: 36px;
                font-weight: 700;
                color: white;
                margin: 20px 0;
            }
            p {
                font-size: 24px;
                line-height: 28px;
                margin: 1rem 0;
                color: white;
                margin-bottom: 20px;
            }
        }
        a {
                .btn{
                    background: white;
                    border: none;
                    width: auto;
                    height: auto;
                    color: $secondary;
                    font-size: 18px;
                    border-radius: 5px;
                    box-shadow: 0 4px 4px rgba(0,0,0,.1);
                    //padding: 5px 20px;
                    text-decoration: none;
                    margin-left: 5px;
                }
        }

        img{
            margin-bottom: 0px;
        }
    }
    
    #we_do {
        background: rgb(255, 255, 255);
        padding-bottom: 20px;
        h1 {
            font-size: 36px;
            font-weight: 700;
            padding-top: 40px;
            color: #2B4D54;
        }

        .card {
            border: none;
            padding: 5px;
            .card-body{
                padding: 0;
            }
            .title {
                color: $secondary;
                font-size: 28px;
                padding-left: 10px;
            }
            .card-text{
                font-size: 18px;
                
            }
        }
    }

    #app_d {
        background: #EFEFEF;
        padding: 50px 5px;

        

        .a_text {
            h1 {
                margin: 20px 0px;
                font-size: 36px;
                font-weight: 700;
                line-height: 36px;
            }
            p {
                font-size: 24px;
                line-height: 28px;
                padding: 1rem 0;
            }
           
        }
        .store {
           
            a {
                margin: 10px !important;

                img{
                    width: 170px;
                    padding: 0;
                }
            }
        }

    }
    
    #footer{
        background: $secondary;
        padding: 40px 0px;

        .footer_img{
            height: 30px;
        }
        .ft_link{
            margin-bottom: 15px;
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                line-height: 40px;
                font-weight: 300;
            }
        }
        .ft_txt{
            color: white;
            margin: 28px 0px;
        }
        .copyright {
            color: white;
        }
        .social_icon {
            float: right;
            img{
                padding: 0 10px;
            }
        }
    }
}    